body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #ccc;
    background-color: #242424;
    margin: 0;
    padding: 10px;
}
.directive,
.comment{
    opacity: .4;
}
.reserved{
    color: rgb(0, 251, 255);
}
.delimiter{
    color: #9e30ff;
}
.op{
    color: #ffa600;
}
.float,
.null,
.number{
    color: #ff4209;
}
.identifier{
    color: #dade04;
}
.specifier,
.char,
.string{
    color: #2fff00;
}
.function{
    color: #019dff;
}